body {
  background-color: #00FF00;
}

.Card {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  margin: 0 auto;
  max-height: 200px;
  min-height: 200px;
  max-width: 70%;
}

/* config view */
ul li {
  list-style: none;
}
.config-label {
  margin-right: 10px;
  width: 100px;
  float: left;
}

/* start/stop button css */
.running-button {
  background-color: #4caf50;
  color: white;
  border: none;
}
.to-run-button {
  background-color: #008cba;
  color: white;
  border: none;
}